<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        window.onload = function () {
            $.post("/login/success", function (obj) {
                alert(obj.a);
            });
        }
    </script>
</head>
<body>
<shiro:hasPermission name="user:dasddsadas">
    <h2>dasdsddd</h2>
</shiro:hasPermission>

</body>
</html>