<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goaway.mapper.RotationMapper">
    <resultMap id="BaseResultMap" type="com.goaway.entity.Gw_rotation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="imageUrl" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="createTime" jdbcType="VARCHAR" property="createTime"/>
        <result column="orderId" jdbcType="INTEGER" property="orderId"/>
        <result column="originator" jdbcType="VARCHAR" property="originator"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="page" jdbcType="INTEGER" property="page"/>
        <result column="curPage" jdbcType="INTEGER" property="curPage"/>

    </resultMap>
   <!--显示轮播信息-->
    <select id="queryRontation" resultMap="BaseResultMap">
        SELECT id,imageUrl
        FROM gw_rotation
        WHERE state=1
        ORDER BY  orderId
    </select>
</mapper>