<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里填写对应的Dao文件所在的路径-->
<mapper namespace="com.goaway.mapper.UserGroupMapper">
    <!--    填写数据库里实例Gw_group对应的表的表名-->
    <!--    这里是作为一个变量使用-->
    <sql id="table">gw_user_group</sql>
    <!--    id属性填写Dao（Mapper）文件里的函数名称-->
    <!--    查询所有-->
    <select id="findAllUserGroup" resultType="com.goaway.entity.Gw_user_group">
        select
        *
        from
        <include refid="table"/>
    </select>


    <select id="findAcceptList" resultType="com.goaway.entity.Gw_user_group">
        select
        *
        from
        <include refid="table"/>
        where
        groupIdentification=#{groupIdentification}
        and
        tempGroupId = #{tempGroupId}
    </select>
    <!--    根据id查询-->
    <select id="findUserGroupById" resultType="com.goaway.entity.Gw_user_group" parameterType="com.goaway.entity.Gw_user_group">
        select
        *
        from
        <include refid="table"/>
        where
        userId =#{userId} and
        tempGroupId = #{tempGroupId}
    </select>

    <!--    根据id查询-->
    <select id="findUser" resultType="com.goaway.entity.Gw_user_group" parameterType="com.goaway.entity.Gw_user_group">
        select
        *
        from
        <include refid="table"/>
        where
        userId =#{userId} and
        groupId = #{groupId}
    </select>
    <!--    -->
    <select id="findGroupByGroupId" resultType="com.goaway.entity.Gw_user_group" parameterType="String">
        select
        *
        from
        <include refid="table"/>
        where
        groupId = #{groupId}
    </select>

    <select id="haveGroupIdByUid" resultType="String" parameterType="int">
        select 
        groupId 
        from <include refid="table"></include>
        where
        userId =#{userId}
    </select>

    <select id="findIdentity" resultType="int" parameterType="com.goaway.entity.Gw_user_group">
        select
        groupIdentification
        from <include refid="table"></include>
        where
        userId = #{userId} and
        groupId = #{groupId}
    </select>


    <!--    增-->
    <insert id="addUserGroup" parameterType="com.goaway.entity.Gw_user_group">
        insert into
        <include refid="table"/>
        (userId,groupId,groupNickname,groupIdentification,tempGroupId)
        values
        (#{userId},#{groupId},#{groupNickname},#{groupIdentification},#{tempGroupId})
    </insert>

    <!--    改-->
    <update id="updateUserGroup" parameterType="com.goaway.entity.Gw_user_group">
        update
        <include refid="table"/>
        set
        groupId = #{groupId},
        groupIdentification=#{groupIdentification},
        tempGroupId = #{tempGroupId}
        where
        id = #{id}
    </update>

    <!--    删-->
    <delete id="deleteUserGroup" parameterType="com.goaway.entity.Gw_user_group">
        delete from
        <include refid="table"/>
        where userId = #{userId} and groupId = #{groupId}
    </delete>

    <!--    删-->
    <delete id="deleteGroupById" parameterType="String">
        delete from
        <include refid="table"/>
        where groupId = #{groupId}
    </delete>
</mapper>